.inputFrequency{
    width: 150px !important;
    border: 1px solid lightgray !important;
    text-align: center !important;
}

img {
    width: 200px;
    height: 200px;
}










































 